body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 800px;
    margin: 20px auto;
}

/* =========================
   Typography
========================= */

h1 {
    color: #2563eb;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

/* =========================
    Logo
========================= */

.logo-header {
     display: flex;
     align-items: center;
     gap: 10px;
}

.logo {
     background: #2563eb;
     color: white;
     width: 42px;
     height: 42px;
     border-radius: 8px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-weight: bold;
     font-size: 20px;
}

/* =========================
   Navigation
========================= */

nav {
    background: #2563eb;
    padding: 15px;
    border-radius: 8px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    text-decoration: underline;
}

/* =========================
   Card
========================= */

.card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

/* =========================
   Button
========================= */

button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
}

button:hover {
    background: #1d4ed8;
}

.btn {
    display: inline-block;
    background: #2563eb;
    color: white;
    padding: 10px 18px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
}

/* =========================
   Form
========================= */

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

/* =========================
   Table
========================= */

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th {
    background: #2563eb;
    color: white;
}

th,
td {
    padding: 10px;
    text-align: left;
}